{% extends 'base.html' %}

{% block head %}
<title>Reconcile | Home | Automatit</title>
{% endblock %}

{% block body %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-5 font-weight-normal">Automatit Reconcile Tool</h1>
      <p class="lead font-weight-normal">Determine conversion rates between multiple platforms</p>
      <a class="btn btn-outline-secondary" href="/reconcile">Reconcile</a>
      <a class="btn btn-outline-secondary" href="/reports">Reports</a>
      <a class="btn btn-outline-secondary" href="/upload_file">Upload</a>
    </div>
</div>
{% endblock %}